/* for all buttons */
.button:hover {
    -fx-cursor: hand;
}

.title-box {
    -fx-padding: 50px 0 0 0;
}

.main-title {
    -fx-font-size: 80px;
    -fx-text-alignment: center;
    -fx-text-origin: top;
    -fx-fill: whitesmoke;
}

.main-buttons-group {
    -fx-alignment: center;
    -fx-padding: -150px 0 0 0;
    -fx-spacing: 25px;
}

.main-button {
    -fx-pref-width: 300px;
    -fx-font-size: 20px;
    -fx-padding: 12px 0 12px 0;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, whitesmoke 0%, #3d3d3d 100%);
    -fx-background-radius: 8px;
}

.sidebar {
    -fx-spacing: 5;
    -fx-background-color: whitesmoke;
}

.sidebar-tab {
    -fx-padding: 0 10px 0 10px;
}

.sidebar-star-card {
    -fx-padding: 10px 25px 10px 5px;
}
